#
# gitignore setting
#

# for dotfiles
.DS_Store
.env/*
.vim/*
.netrwhist
.gitconfig
.zshrc.local
.zsh_history
.z_history
.zcompdump
.zprezto

# for ignore cases
!.vim/vimrc
!.vim/tools/*

# for empty dirs
!.gitkeep
