#
# gitignore setting
#

#
# for .dotfiles
#
.DS_Store
.env/*
.vim/*
.gitconfig

#
# for c++ requirements
#
# Prerequisites
*.d
*.o
*.so
*.a
*.out

#
# for python requirements
#
.python-version
__pycache__/*
*.pyc

#
# for other directories
#
out/*
obj/*
bin/*
res/*

# for ignore case
!.vim/vimrc
!.vim/tools/*

# for empty dir
!.gitkeep
